<%= render partial: 'application/errors' %>

<%= form_for @question, html: { class: 'question' } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <div id="react_question_body">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Save Question', class: 'button' %>
<% end %>
