<h2><%= @question.title %></h2>
<p class="shareable-link">
  Shareable Link:
  <%= link_to @shareable_link, @shareable_link %>
</p>
<%= link_to 'Edit Question', edit_question_path(@question.id), class: 'button' %>
<%= button_to "Delete Question",
              question_path(@question.id),
              data: { confirm: "Are you sure? This is not reversible!" },
              method: :delete,
              class: 'button alert' %>

<input type="hidden" id="question_body" value="<%= @question.body_raw %>" />
<div id="react_question_body">
  <%= @question.body %>
</div>
